{
    "presets": [
        "@babel/preset-react",
        "@babel/preset-env"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        ["css-modules-transform", {
            "preprocessCss": "./stylus-require-hook.js",
            "extensions": ["css", "styl"]
        }]
    ],
    "ignore": ["./stylus-require-hook.js"]
}