.heros-list
    display: grid
    grid-template-columns: 1fr
    grid-gap: 20px
    width: 90%
    margin: 0 auto
    padding: 20px 0
    @media (min-width: 430px)
        grid-template-columns: 1fr 1fr
    @media (min-width: 1024px)
        grid-template-columns: 1fr 1fr 1fr