.header
    padding: 10px
    border-bottom: 1px solid darkgray

    &__logo
        padding: 0
        margin: 0
        font-family: 'Bigelow Rules', cursive
        color: purple
        font-weight: bold
        font-size: 2rem